body {
    background-color: white;
    margin: 5px;
    padding: 20px;
}

.header-elvis {
    background-color: lightgray;
    text-align: center;
    padding: 10px 10px 5px 10px;
    border-radius: 30px 0px 30px 0px;
    margin: 10px 0px 10px 0px;
}
.div1, .div2, .div3, .div4, .footer {
    display: block;
    margin: 10px 0px 10px 0px;
}
.div1 {
    background-color: lightblue;
    padding: 15px 20px;
    border-radius: 30px 0px 30px 0px;
    margin: 10px 0px 10px 0px;
}

.div2 {
    background-color: lightgreen;
    padding: 15px 20px;
    border-radius: 30px 0px 30px 0px;
    margin: 10px 0px 10px 0px;
}

.div3 {
    background-color: lightcoral;
    padding: 15px 20px;
    border-radius: 30px 0px 30px 0px;
    margin: 10px 0px 10px 0px;
    
}

.div4 {
    background-color: yellowgreen;
    padding: 15px 20px;
    border-radius: 30px 0px 30px 0px;
    margin: 10px 0px 10px 0px;
}