footer {
  background-color: var(--accentdark);
  width: 100%;
  color: var(--textlight);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem 1rem;
  min-height: auto;
  text-align: center;
  align-items: center; 
}

.footer-info {
  display: flex;
  text-align: center;
  flex-direction: column;  /* staplar knappen under texten */
  align-items: center;  
  gap: 0.5em;
  max-width: 50ch; /* CH står för bredden av tecken 0. Vilket betyder att det blir max 50 tecken lånt med 50ch  */
  font-size: clamp(1rem, 2.5vw, 1.25rem); /* Clamp används för att göra texten responsiv mellan olika skärmar. Överkurs kanske men väldigt användbart "Läste på lite under https://developer.mozilla.org/en-US/docs/Web/CSS/clamp" */
}

.footer-text {
  font-size: clamp(0.95rem, 2vw, 1.1rem);
  margin-top: auto;  /* lägger sig längst ner i footern */
}

@media (min-width: 768px) {
  footer {
    padding: 2rem 2rem;
    min-height: 300px;    /* valfritt – ”stor” footer på desktop */
  }
}