* {
    padding:0;
    margin:0;
}

.hero {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;

    background-image: url("../images/kim-hero-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    & .hero-profile {
        border-radius: 9999px;
    }
    & .hero-text{
        text-decoration: none;
        font-size: 140%;
        padding:2rem;
        align-self: center;
        font-weight: bolder;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
    }
    & a {
        text-decoration: none;
        color: white;
        transition: 0.2s ease;
    }
    & a:hover {
        font-size: 102%;
    }
    & p {
        font-size: 110%
    }
}

.experience {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    & h2 {
      text-align: center;
        margin: 2rem 0 1rem 0;
    }
    & .skill-box {
        margin: 1rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem; 

        & h3 {
            font-size: 150%;
        }
    }
}